<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
    xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">
    <bean id="prjeModule" parent="prjeModule-parent" />

    <bean id="prjeModule-parent" abstract="true" class="org.kuali.kfs.sys.FinancialSystemModuleConfiguration">

		<property name="namespaceCode" value="KFS-PRJE"/>
		<property name="initializeDataDictionary" value="true" />
        <property name="packagePrefixes">
            <list>
                <value>edu.arizona.kfs.module.prje</value>
            </list>
        </property>
		<property name="dataDictionaryPackages">
			<list>
                <value>classpath:edu/arizona/kfs/module/prje/businessobject/datadictionary/*.xml</value>
                <value>classpath:edu/arizona/kfs/module/prje/document/datadictionary/*.xml</value>
			</list>
		</property>
		<property name="databaseRepositoryFilePaths">
			<list>
				<value>edu/arizona/kfs/module/prje/ojb-prje.xml</value>
			</list>
		</property>
		<property name="scriptConfigurationFilePaths">
			<list>
				<value>edu/arizona/kfs/module/prje/dwr-prje.xml</value>
			</list>
		</property>
		<property name="jobNames">
			<list>
				<value>prjeJob</value>
			</list>
		</property>
        <property name="batchFileDirectories">
            <list>
                <value>${reports.directory}/prje</value>
                <value>${staging.directory}/prje</value>
            </list>
        </property>
	</bean>
    <bean id="prjeModuleService" parent="prjeModuleService-parentBean" />
    <bean id="prjeModuleService-parentBean" class="org.kuali.kfs.sys.service.impl.KfsModuleServiceImpl" abstract="true">
        <property name="moduleConfiguration" ref="prjeModule" />
    </bean>

	<bean id="prjeDataAccess" parent="platformAwareDao" class="edu.arizona.kfs.module.prje.dataaccess.impl.PRJEDaoOjb" />

    <bean id="prjePostingLedgerReportWriterService" class="org.kuali.kfs.sys.service.impl.ReportWriterTextServiceImpl">

        <property name="filePath" value="${reports.directory}/prje"/>
        <property name="fileNamePrefix" value="prje_main_ledger_"/>
        <property name="fileNameSuffix" value=".txt" />
        <property name="title" value="PRJE Poster Output Transactions"/>

        <property name="pageWidth" value="123" />
        <property name="pageLength" value="53" />
        <property name="initialPageNumber" value="1" />
        <property name="errorSubTitle" value="ERROR AND STATISTICS REPORT" />
        <property name="statisticsLabel" value="                                    S T A T I S T I C S                                    " />
        <property name="statisticsLeftPadding" value="                             " />
        <property name="pageLabel" value="PAGE:" />
        <property name="newLineCharacter" value="&#xA;" />
        <property name="dateTimeService" ref="dateTimeService" />

        <property name="classToBusinessObjectReportHelperBeanNames">
            <map>
                <entry key="org.kuali.kfs.gl.businessobject.LedgerSummaryTotalLine" value="ledgerSummaryTotalLineReportHelper" />
                <entry key="org.kuali.kfs.gl.businessobject.LedgerBalanceTypeSummaryTotalLine" value="ledgerBalanceTypeSummaryTotalLineReportHelper" />
                <entry key="org.kuali.kfs.gl.businessobject.LedgerSummaryDetailLine" value="ledgerSummaryDetailLineReportHelper" />
            </map>
        </property>
    </bean>

    <bean id="prjeSetReportHelper" parent="businessObjectReportHelper">
        <property name="dataDictionaryBusinessObjectClass" value="edu.arizona.kfs.module.prje.businessobject.PRJESet" />
        <property name="orderedPropertyNameToHeaderLabelMap">
            <map>
                <entry key="setId" value="SET ID" />
                <entry key="fiscalYear" value="FISC YR" />
                <entry key="setName" value="NAME" />
                <entry key="setDescription" value="DESC" />
            </map>
        </property>
        <property name="columnCount" value="4" />
    </bean>

    <bean id="prjeTypeReportHelper" parent="businessObjectReportHelper">
        <property name="dataDictionaryBusinessObjectClass" value="edu.arizona.kfs.module.prje.businessobject.PRJEType" />
        <property name="orderedPropertyNameToHeaderLabelMap">
            <map>
                <entry key="typeId" value="TYPE ID" />
                <entry key="setId" value="SET ID" />
                <entry key="entryName" value="NAME" />
                <entry key="prorateOptions" value="OPTIONS" />
            </map>
        </property>
        <property name="columnCount" value="4" />
    </bean>

    <bean id="prjeAuditItemReportHelper" parent="businessObjectReportHelper">
        <property name="dataDictionaryBusinessObjectClass" value="edu.arizona.kfs.module.prje.businessobject.PRJEAuditItem" />
        <property name="orderedPropertyNameToHeaderLabelMap">
            <map>
                <entry key="docType" value="Doc Type" />
                <entry key="docNumber" value="Doc Nbr" />
                <entry key="description" value="Description" />
                <entry key="fromAccount" value="Acct Nbr" />
                <entry key="fromSubAccount" value="Sub Acct" />
                <entry key="fromObjectCode" value="Object Code" />
                <entry key="fromSubObject" value="Sub Obj" />
                <entry key="fromBaseAmount" value="Base Amount" />
                <entry key="fromRate" value="Rate" />
                <entry key="fromFromAmount" value="Trans Amount" />
                <entry key="fromDebitCredit" value="DR CR" />
                <entry key="toAccount" value="Acct Nbr" />
                <entry key="toSubAccount" value="Sub Acct" />
                <entry key="toObjectCode" value="Object Code" />
                <entry key="toSubObject" value="Sub Obj" />
                <entry key="toAmount" value="Amount" />
                <entry key="toDebitCredit" value="DR CR" />
            </map>
        </property>
        <property name="columnCount" value="17" />
    </bean>

    <bean id="prjeAuditReportWriterService" class="org.kuali.kfs.sys.service.impl.ReportWriterTextServiceImpl">

        <property name="filePath" value="${reports.directory}/prje"/>
        <property name="fileNamePrefix" value="prje_audit_"/>
        <property name="fileNameSuffix" value=".txt" />
        <property name="title" value="Prorate Journal Entry Audit Report"/>

        <property name="pageWidth" value="204" />
        <property name="pageLength" value="53" />
        <property name="initialPageNumber" value="1" />
        <property name="pageLabel" value="PAGE:" />
        <property name="newLineCharacter" value="&#xA;" />
        <property name="dateTimeService" ref="dateTimeService" />

        <property name="classToBusinessObjectReportHelperBeanNames">
            <map>
                <entry key="edu.arizona.kfs.module.prje.businessobject.PRJESet" value="prjeSetReportHelper" />
                <entry key="edu.arizona.kfs.module.prje.businessobject.PRJEType" value="prjeTypeReportHelper" />
                <entry key="edu.arizona.kfs.module.prje.businessobject.PRJEAuditItem" value="prjeAuditItemReportHelper" />
            </map>
        </property>
    </bean>

    <bean id="prjeReports" parent="prjeReports-parent"/>
    <bean id="prjeReports-parent" abstract="true"  class="edu.arizona.kfs.module.prje.service.impl.PRJEReportsServiceImpl">
       <property name="prjeDataAccess" ref="prjeDataAccess" />
       <property name="businessObjectService" ref="businessObjectService" />
       <property name="parameterService" ref="parameterService" />
       <property name="objectCodeService" ref="objectCodeService" />
       <property name="dateTimeService" ref="dateTimeService" />
       <property name="universityDateService" ref="universityDateService" />
       <property name="batchFileDirectoryName" value="${staging.directory}/gl/originEntry"/>
       <property name="ledgerReportWriterService" ref="prjePostingLedgerReportWriterService" />
       <property name="auditReportWriterService" ref="prjeAuditReportWriterService" />
    </bean>

	<bean id="prjeService" parent="prjeService-parent"/>
	<bean id="prjeService-parent" abstract="true" class="edu.arizona.kfs.module.prje.service.impl.PRJEServiceImpl">
	   <property name="prjeDataAccess" ref="prjeDataAccess" />
       <property name="businessObjectService" ref="businessObjectService" />
       <property name="parameterService" ref="parameterService" />
       <property name="objectCodeService" ref="objectCodeService" />
       <property name="dateTimeService" ref="dateTimeService" />
       <property name="universityDateService" ref="universityDateService" />
       <property name="batchFileDirectoryName" value="${staging.directory}/gl/originEntry"/>
       <property name="propertyFileDirectoryName" value="${staging.directory}/prje"/>
       <property name="prjeReports" ref="prjeReports" />
       <property name="optionsService" ref="optionsService"/>
	</bean>

	<bean id="prjeJob" parent="unscheduledJobDescriptor">
		<property name="steps">
			<list>
				<ref bean="prjeTransactionStep" />
			</list>
		</property>
	</bean>

	<bean id="prjeTransactionStep" parent="step"
	      class="edu.arizona.kfs.module.prje.batch.PRJETransactionStep">
		<property name="prjeService" ref="prjeService" />
	</bean>

</beans>
