<?xml version="1.0" encoding="UTF-8"?>
<!--
   - The Kuali Financial System, a comprehensive financial management system for higher education.
   -
   - Copyright 2005-2016 The Kuali Foundation
   -
   - This program is free software: you can redistribute it and/or modify
   - it under the terms of the GNU Affero General Public License as
   - published by the Free Software Foundation, either version 3 of the
   - License, or (at your option) any later version.
   -
   - This program is distributed in the hope that it will be useful,
   - but WITHOUT ANY WARRANTY; without even the implied warranty of
   - MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   - GNU Affero General Public License for more details.
   -
   - You should have received a copy of the GNU Affero General Public License
   - along with this program.  If not, see <http://www.gnu.org/licenses/>.
 -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

    <bean id="documentStoreAddDocumentHandler" parent="documentStoreAddDocumentHandler-parentBean"/>
    <bean id="documentStoreAddDocumentHandler-parentBean" abstract="true" class="org.kuali.kfs.sys.datatools.liquimongo.change.AddDocumentHandler">
        <property name="mongoTemplate">
            <ref bean="mongoTemplate"/>
        </property>
    </bean>

    <bean id="documentStoreUpdateDocumentHandler" parent="documentStoreUpdateDocumentHandler-parentBean"/>
    <bean id="documentStoreUpdateDocumentHandler-parentBean" abstract="true" class="org.kuali.kfs.sys.datatools.liquimongo.change.UpdateDocumentHandler">
        <property name="mongoTemplate">
            <ref bean="mongoTemplate"/>
        </property>
    </bean>

    <bean id="documentStoreDeleteDocumentsHandler" parent="documentStoreDeleteDocumentsHandler-parentBean"/>
    <bean id="documentStoreDeleteDocumentsHandler-parentBean" abstract="true" class="org.kuali.kfs.sys.datatools.liquimongo.change.DeleteDocumentsHandler">
        <property name="mongoTemplate">
            <ref bean="mongoTemplate"/>
        </property>
    </bean>

    <bean id="documentStoreAddNodeHandler" parent="documentStoreAddNodeHandler-parentBean"/>
    <bean id="documentStoreAddNodeHandler-parentBean" abstract="true" class="org.kuali.kfs.sys.datatools.liquimongo.change.AddNodeHandler">
        <property name="mongoTemplate">
            <ref bean="mongoTemplate"/>
        </property>
    </bean>

    <bean id="documentStoreUpdateNodeHandler" parent="documentStoreUpdateNodeHandler-parentBean"/>
    <bean id="documentStoreUpdateNodeHandler-parentBean" abstract="true" class="org.kuali.kfs.sys.datatools.liquimongo.change.UpdateNodeHandler">
        <property name="mongoTemplate">
            <ref bean="mongoTemplate"/>
        </property>
    </bean>

    <bean id="documentStoreDeleteNodeHandler" parent="documentStoreDeleteNodeHandler-parentBean"/>
    <bean id="documentStoreDeleteNodeHandler-parentBean" abstract="true" class="org.kuali.kfs.sys.datatools.liquimongo.change.DeleteNodeHandler">
        <property name="mongoTemplate">
            <ref bean="mongoTemplate"/>
        </property>
    </bean>

    <bean id="documentStoreUpdateProcessDao" parent="documentStoreUpdateProcessDao-parentBean"/>
    <bean id="documentStoreUpdateProcessDao-parentBean" abstract="true" class="org.kuali.kfs.sys.datatools.liquimongo.dataaccess.impl.DocumentStoreUpdateProcessDaoMongo">
        <property name="mongoTemplate">
            <ref bean="mongoTemplate"/>
        </property>
    </bean>

    <bean id="documentStoreSchemaUpdateService" parent="documentStoreSchemaUpdateService-parentBean"/>
    <bean id="documentStoreSchemaUpdateService-parentBean" class="org.kuali.kfs.sys.datatools.liquimongo.service.impl.DocumentStoreSchemaUpdateServiceImpl" abstract="true">
        <property name="updatesPath" value="/org/kuali/kfs/db/documentstore/"/>
        <property name="updatesList" value="updates.json"/>
        <property name="documentStoreUpdateProcessDao">
            <ref bean="documentStoreUpdateProcessDao"/>
        </property>
        <property name="handlers">
            <list>
                <ref bean="documentStoreAddDocumentHandler"/>
                <ref bean="documentStoreUpdateDocumentHandler"/>
                <ref bean="documentStoreDeleteDocumentsHandler"/>
                <ref bean="documentStoreAddNodeHandler"/>
                <ref bean="documentStoreUpdateNodeHandler"/>
                <ref bean="documentStoreDeleteNodeHandler"/>
            </list>
        </property>
    </bean>
</beans>
