#institutionconfig {
    padding: 20px;
}

.headerarea-small h1 span.glyphicon {
    font-size: 22px;
}

.instconfig {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row-reverse;
}

ul#linkGroupsList,
div#linkGroupLinksList {
    width: 50%;
}

#linkGroupsList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 45%;
    order: 2;
}

#linkGroupsList li.linkgroup {
    background-color: #6B6B6B;
    text-transform: uppercase;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    padding: 12px 10px;
    margin: 0 3px 3px 3px;
    border-radius: 3px;
    cursor: hand;
    border-top: 1px solid #6B6B6B;
    border-left: 1px solid #6B6B6B;
    border-bottom: 1px solid #6B6B6B;
}

#linkGroupsList li.linkgroup.ui-sortable-helper,
#linkGroupsList li.linkgroup.ui-sortable-helper span.move {
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
    cursor: grabbing;
}

#linkGroupsList li.linkgroup.active {
    background-color: #F4F4F4;
    color: #555555;
    border-top: 1px solid #ACACAC;
    border-left: 1px solid #ACACAC;
    border-bottom: 1px solid #ACACAC;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

}

#linkGroupsList li.linkgroup.active {
    margin-right: -1px;
    padding-right: 14px;
}

#linkGroupsList li.linkgroup span.move {
    margin-right: 10px;
    margin-bottom: -8px;
    height: 23px;
    width: 18px;
    background-image: url('../static/images/move.png');
    display: inline-block;
    background-size: 23px 18px;
    background-repeat: no-repeat;
    cursor: -moz-grab;
    cursor: -webkit-grab;
    cursor: grab;
}

#linkGroupsList li.linkgroup input[type=text] {
    color: #555555;
    text-transform: uppercase;
}

#linkGroupsList li.linkgroup .actions {
    float: right;
}

#linkGroupsList li.linkgroup .actions img {
    height: 30px;
    width: 30px;
    margin-top: -3px;
}

.instconfig div.admin-sublinks {
    background-color: #F4F4F4;
    border: 1px solid #ACACAC;
    border-radius: 3px;
    padding: 20px;
}

.instconfig .top-selected div.admin-sublinks {
    border-top-left-radius: 0;
}

.instconfig div.admin-sublinks ul {
    padding: 0;
}

.instconfig div.admin-sublinks li {
    list-style: none;
    padding: 1px 0;
    cursor: hand;
}

.instconfig div.admin-sublinks li.ui-sortable-helper,
.instconfig div.admin-sublinks li.ui-sortable-helper span.move {
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
    cursor: grabbing;
}

.instconfig div.admin-sublinks h4 {
    padding-top: 15px;
    padding-bottom: 5px;
    color: #767676;
    font-size: 16px;
    margin: 0;
    font-weight: 700;
    text-transform: capitalize;
}

.instconfig div.admin-sublinks li .list-group-item {
    padding: 2px 8px;
    color: #555555;
}

.instconfig div.admin-sublinks li .list-group-item.empty {
    height: 32px;
    border-style: dashed;
    background-color: inherit;
    cursor: default;
}

.instconfig div.admin-sublinks li span.move {
    margin-right: 10px;
    margin-bottom: -6px;
    height: 18px;
    width: 14px;
    background-image: url('../static/images/small-move.png');
    display: inline-block;
    background-size: 18px 14px;
    background-repeat: no-repeat;
    cursor: -moz-grab;
    cursor: -webkit-grab;
    cursor: grab;
}

.buttonbar {
    text-align: center;
    padding: 30px 0 15px 0;
    border-top: 1px solid #D7D7D7;
    margin-top: 40px;
}

.buttonbar .btn {
    padding: 15px 45px;
}
