.clickable {
    cursor: pointer;
}

input[type=radio]:not(:first-child) {
    margin-left: 15px;
}

input[type=radio] {
    margin-right: 5px;
}

#view_div {
    padding: 20px;
    background-color: #E5E5E5;
}

#view_div .lookupcreatenew {
    float: right;
    padding-top: 9px;
    height: 50px;
}

#view_div .main-panel .lookupcreatenew {
    float: right;
    margin-right: 35px;
}

#view_div .main-panel .toggle-show-tab {
    float: right;
    line-height: 50px;
    color: #5F7D8C;
    font-size: 16px;
}

#view_div .main-panel .toggle-show-tab>span {
    cursor: pointer;
}

#view_div .msg-excol .error {
    color: #C47965;
    margin-left: 30px;
}

#view_div .left-errmsg {
    color: #C47965;
}

#view_div .headerarea-small {
    height: 50px;
    padding-left: 30px;
    padding-right: 30px;
}

#view_div .inquiry .headerarea-small {
    padding-left: 10px;
    padding-right: 10px;
}

#view_div .main-panel .headerarea-small {
    background-color: #FBFBFB;
    box-shadow: 0px 2px 0px 0px #F3F3F3;
}

#view_div a img {
    width: inherit;
    height: inherit;
}

#view_div a img.help {
    width: 13px;
    height: 13px;
}

#view_div .right {
    text-align: right;
}

#view_div .left {
    text-align: left;
}

div.excol {
    color: #999999;
    font-size: 14px;
    margin-right: 35px;
    padding-top: 8px;
}

.inquiry div.excol {
    margin-right: 10px;
}

#view_div .headerarea-small h1 {
    margin: 0px;
    font-weight: 300;
    font-size: 28px;
    line-height: 50px;
    color: #5C6A73;
    float: left;
}

#view_div .headerarea-small h2 {
    margin: 0px;
    font-weight: 400;
    font-size: 16px;
    line-height: 50px;
    color: #5F7D8C;
    float: left;
    text-transform: uppercase;
    padding-left: 10px;
}

#view_div .main-panel {
    background-color: #ffffff;
    border-radius: 3px;
    border: 1px solid transparent;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
    overflow-x: auto;
}

#view_div .inquiry .main-panel {
    margin: 10px;
}

#view_div .main-panel:not(:first-child) {
    margin-top: 10px;
}

#lookup {
    padding-top: 20px;
}

#lookup .multi-column-table th {
    text-align: left;
    padding-bottom: 0;
    height: 30px;
}

#lookup .multi-column-table>tbody>tr>td {
    vertical-align: top;
    padding-bottom: 0;
}

#lookup .multi-column-table>tbody>tr>td:first-child {
    padding-right: 35px;
}

#lookup th {
    text-align: right;
    height: 30px;
}

#lookup th,
#lookup td {
    padding-bottom: 12px;
}

#lookup td.infoline input[type=image] {
    padding-right: 10px;
}

#lookup td.infoline {
    border-top: 1px solid #E7E7E7;
    padding-top: 20px;
    padding-bottom: 12px !important;
    padding-right: 0 !important;
}

#lookup.fixedButtons {
    padding-top: 20px;
    padding-bottom: 65px;
}

#lookup.fixedButtons.multiline {
    padding-bottom: 130px;
}

#lookup td.infoline.fixed {
    position: fixed;
    bottom: 0;
    height: 65px;
    background-color: rgba(255,255,255,0.9);
}

#lookup td.infoline.multiline.fixed {
    height: 130px;
}

#lookup td.infoline img {
    vertical-align: top;
}

#lookup label {
    font-weight: normal;
    font-size: 15px;
    color: #777777;
    padding-right: 12px;
}

input[type=text],
select,
textarea {
    border: 1px solid #D6D6D6;
    border-radius: 4px;
    margin-right: 3px;
    box-shadow: inset 0 1px 4px rgba(0,0,0,0.15);
    padding: 0 5px;
}

input[type=text],
select {
    height: 30px;
    width: 290px;
}

.doc .datatable th,
.doc .datatable td {
    padding: 5px;
}

.doc .main-panel .tab-container table.min-100 th,
.doc .main-panel .tab-container td {
    min-width: 100px;
}

.doc input[type=text],
.doc select {
    width: inherit;
}

#lookup select[multiple=true] {
    height: 120px;
}

.search-message {
    text-align: center;
    font-size: 15px;
    color: #555555;
    padding-top: 14px;
}


.search-results .headerarea-small.fixed {
    position: fixed;
    top: 62px;
}

.search-results table {
    width: 100%;
}

.search-results table.fixedHeader {
    margin-top: 50px;
}

.search-results .paginator {
    float: right;
    line-height: 50px;
    font-size: 15px;
    color: #555555;
}

.search-results .paginator .pagebanner {
    padding-right: 25px;
}

.search-results .paginator .pagebanner .results-showing {
    font-weight: 700;
}

.paginator .pagelinks .btn {
    margin: 0;
}

.paginator .pagelinks a {
    color: #555555;
    text-decoration: none;
}

.paginator .pagelinks span {
    padding: 4px;
}

.paginator .pagelinks span.btn {
    padding: 2px 12px 2px 12px;
}

.paginator .pagelinks span.btn>a {
    border-bottom: none;
}

.paginator .pagelinks span>a {
    border-bottom: 1px #979797 dotted;
}

.paginator .pagelinks div.pagenumbers {
    padding-right: 10px;
    padding-left: 10px;
    display: inline;
    font-weight: 300;
}

.paginator .pagelinks div.pagenumbers a {
    text-decoration: underline;
}

.datatable-100 td.infocell {
    color: #555555;
}

.datatable-100 td.infocell a {
    color: #555555;
    text-decoration: underline;
}

.datatable-100 thead th a {
    color: #333333;
}

#row th,
#row td {
    border-top: 1px solid #E1E1E1;
    border-left: 1px solid #E1E1E1;
    padding: 4px;
    font-size: 13px;
}

#row th:first-child,
#row td:first-child {
    border-left: none;
}

#row tr:last-child td {
    border-bottom: 1px solid #E1E1E1;
}

tr.even {
    background-color: rgba(202,202,202,0.2);
}

.exportlinks {
    font-size: 15px;
    padding: 10px;
}

.exportlinks a {
    color: #555;
    border-bottom: 1px #979797 dotted;
}

.exportlinks a:hover {
    text-decoration: none;
}

#search-results {
    display: block;
    position: relative;
    top: -82px;
    visibility: hidden;
}

.inquiry #globalbuttons,
.doc #globalbuttons {
    text-align: center;
    background-color: #F9F9F9;
    height: 62px;
    line-height: 62px;
    margin: 0 -20px -40px -20px;
    position: absolute;
    bottom: 40px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
    width: 100%;
}

.inquiry #globalbuttons.fixed,
.doc #globalbuttons.fixed {
    position: fixed;
    bottom: 40px;
    height: 62px;
    background-color: rgba(255,255,255,0.9);
}

.inquiry #globalbuttons .btn,
.doc #globalbuttons .btn {
    font-size: 16px;
}

.infoline #globalbuttons {
    position: inherit;
    background-color: transparent;
    box-shadow: none;
    margin: 0;
    width: inherit;
    padding-top: 15px;
}

.infoline.fixed #globalbuttons {
    height: 36px;
}

div.inquiry {
    margin-bottom: 70px;
}

div.inquiry.fixedButtons {
    padding-bottom: 62px;
}

td.grid div.link-wrapper,
td.infocell div.link-wrapper {
    display: inline;
    white-space: nowrap;
}

td.grid a.new-window,
td.infocell a.new-window {
    text-decoration: none;
}

td.grid a.new-window span.glyphicon,
td.infocell a.new-window span.glyphicon {
    visibility: hidden;
}

td.grid:hover a.new-window span.glyphicon,
td.infocell:hover a.new-window span.glyphicon {
    visibility: inherit;
    opacity: .4;
}

td.grid a.new-window:hover span.glyphicon,
td.infocell a.new-window:hover span.glyphicon {
    display: inherit;
    opacity: .8;
}

div.inquiry table.datatable {
    margin: 20px 0;
}

div.inquiry table.datatable th,
div.inquiry table.datatable td {
    line-height: 32px;
    font-size: 14px;
    color: #777777;
}

div.inquiry table.datatable tr:nth-child(even) {
    background-color: #F9F9F9;
}

div.inquiry table.datatable th {
    text-align: right;
    padding-right: 15px;
    font-weight: 700;
}

.contentwrapper.inquirymodal {
    display: block;
    border-radius: 6px;
}

.inquirymodal .content #view_div {
    padding-top: 0;
    border-radius: 6px;
}


.remodal .content {
    border-radius: 6px;
}

.inquirymodal .content div.inquiry {
    margin-bottom: 0;
}

.body.fullwidth {
    margin-top: 0;
}

.doc #view_div>form>.headerbox {
    float: right;
    color: #767676;
}

.doc #view_div>form>.headerbox th {
    text-align: right;
    padding: 0 5px 0 30px;
}

.doc #view_div>form>.msg-excol {
    margin-top: 15px;
    clear: both;
}

.doc #view_div>form>.msg-excol>.right {
    color: #999999;
}

.doc #view_div>form>.msg-excol>.right>.excol {
    margin-right: 0;
}

.doc #view_div>form>.headerarea-small {
    float: left;
    margin-top: 15px;
}

.doc .main-panel .tab-container {
    color: #555;
}

.doc .main-panel  .tab-container h3 {
    font-size: 15px;
    text-transform: uppercase;
    text-align: left;
    color: #777777;
    border-bottom: 1px solid #c3c3c3;
    padding: 0 30px 20px 30px;
    margin: 20px 20px 30px 20px;
}

.doc .main-panel .tab-container table {
    width: 100%;
    margin-bottom: 30px;
}

.doc .main-panel .tab-container th {
    color: #767676;
    font-weight: 400;
}

.doc .main-panel .tab-container th.right {
    padding: 0 10px 0 15px;
}

.doc .main-panel .tab-container th.top {
    vertical-align: top;
    padding-top: 5px;
}

.doc .main-panel .tab-container label {
    font-weight: 400;
    margin-bottom: 0;
}

.doc .main-panel .tab-container table.items tr.new-note td {
    padding-bottom: 30px;
}

.doc .main-panel .tab-container table.standard tr.header {
    background-color: inherit !important;
}

.doc .main-panel .tab-container table.standard tr.header th {
    text-transform: uppercase;
    font-size: 12px;
    padding-bottom: 2px;
}

.doc .main-panel .tab-container table.items tr.header th {
    padding-top: 15px;
}

.doc .main-panel .tab-container table.items td:first-child,
.doc .main-panel .tab-container table.items th:first-child {
    font-weight: 700;
    min-width: 20px;
    text-align: right;
}

.doc .main-panel .tab-container table.standard th,
.doc .main-panel .tab-container table.standard td {
    padding: 10px;
}

.doc .main-panel .tab-container table.standard td.note-text {
    width: 30%;
}

.doc .main-panel .tab-container table.standard tr.highlight {
    background-color: #F9F9F9;
}

.doc .main-panel .tab-container table.standard td.total-line {
    border-top: 1px dashed #cccccc;
}

.doc .main-panel .tab-container table.adhoc td:first-child,
.doc .main-panel .tab-container table.adhoc th:first-child {
    padding-left: 20px;
}

.doc .main-panel .tab-container table.adhoc th {
    width: 25%;
}

.doc .main-panel .tab-container table.adhoc.person th:first-child {
    width: 50%;
}

.doc .main-panel .tab-container-error {
    margin: 0 auto;
    width: 40%;
    color: #C47965;
    padding-top: 10px;
}
