body {
    font-family: Lato, sans-serif;
    background-color: #fff;
}
.navbar-default {
    height: 62px;
    box-shadow: 0 1px 2px #5b5b5b;
}
.navbar-default .navbar-header {
    padding-left: 70px;
}
.navbar-default .navbar-brand {
    height: 62px;
    font-size: 26px;
    line-height: 40px;
    font-weight: 700;
    width: 400px;
    padding: 10px 15px;
}
.navbar-default .navbar-brand img {
    float: left;
    padding-right: 7px;
}
.navbar-default .navbar-brand .institution-name {
    font-weight: 200;
}

.dropdown.backdoor>a {
    color: red !important;
}

.dropdown-menu>li {
    padding: 3px 20px;
    line-height: 30px;
    color: #333;
}

#sidebar-bg-wrapper {
    float: left;
    width: 100%;
    background-color: #5b5b5b;
    overflow: hidden;
}

#wrapper {
    float: left;
    width: calc(100% - 320px);
    background-color: #E5E5E5;
    position: relative;
    left: 320px;
}

#headerarea {
    position: relative;
}

#main-wrapper {
    background-color: #E5E5E5;
    width: 100%;
    padding: 0 0 20px 0;
    float: left;
}

nav {
    background-color: #fff;
    color: #777;
}

nav ul.nav li a {
    line-height: 30px;
}

nav ul.nav li {
    list-style: none;
}

#main {
    padding: 0;
    background-color: #fff;
    border-radius: 4px;
    margin-top: 62px;
}

#main .page-header {
    padding-top: 9px;
}

#sidebar-wrapper {
    padding: 62px 0 0 0;
    z-index: 100;
    background-color: #5b5b5b;
    width: 320px;
    margin-left: -320px;
    float: left;
}

#sidebar {
    background-color: #5b5b5b;
}

#sidebar .list-group-item {
    border-radius: 0;
    border-left: 0;
    border-right: 0;
    border-top: 0;
}

.glyphicon {
    padding-right: 5px;
    padding-left: 5px;
}

#menu-toggle {
    cursor: pointer;
}

#menu-toggle .glyphicon {
    padding: 0;
}

#sidebar .nav {
    padding-top: 40px;
    background-color: #5b5b5b;
    color: #fff;
}

#sidebar .nav li.panel {
    background-color: #5b5b5b;
    margin-bottom: 0;
}

#sidebar .nav li a {
    border: none;
    background-color: inherit;
    color: #FFF;
    text-transform: uppercase;
    font-size: 14px;
}

#sidebar .nav li.first>a {
    border-top: 1px solid #6a6a6a;
}

#sidebar .nav li>a {
    border-bottom: 1px solid #6a6a6a;
}

#sidebar .nav li>a,
#sidebar .nav li>div {
    margin-left: 30px;
    padding: 13px 0;
}

.navbar-default a:link {
    text-decoration: none;
}

.nav a:link {
    text-decoration: none;
}

#sidebar .nav li a span.glyphicon {
    color: #858585;
    padding-right: 25px;
}

#sidebar .nav li .sublinks {
    padding-top: 0;
}

#sidebar .nav li .sublinks a {
    padding: 12px 20px;
    text-transform: none;
    color: #C1C1C1;
}

#sidebar .nav li.active {
    background-color: #505050;
}

#sidebar .nav li.active a,
#sidebar .nav li.before-active a {
    border-bottom: none;
}

#menu-toggle {
    float:right;
    background-color: #5b5b5b;
    padding: 5px;
    color: #D8D8D8;
    z-index: 1000;
}

#footer {
    float: left;
    height: 60px;
    width: 100%;
    padding-top: 10px;
    border-top: 1px solid #000;
    background-color: #fff;
    z-index: 200;
}

#dashboard {
    background-color: #E5E5E5;
    padding: 20px;
}

#dashboard .widget {
    background-color: #fff;
    border-radius: 3px;
}

#dashboard .widget h2 {
    background-color: #FBFBFB;
    color: #71838E;
    font-weight: 300;
    font-size: 22px;
    margin: 0;
    padding: 12px 20px;
    border-radius: 3px;
    box-shadow: 0 2px 0 #F3F3F3;
}

#dashboard .widget h2 span.glyphicon {
    font-weight: 700;
}

#dashboard .widget .table-container {
    padding: 0 20px 20px 20px;
}

#dashboard .widget table th {
    border-top: none;
    border-bottom: 1px solid #E1E1E1;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 16px;
    color: #999999;
    font-weight: normal;
    padding: 15px 8px 5px 8px;
}

#dashboard .widget table td {
    color: #555555;
    border-bottom: 1px solid #E1E1E1;
    padding: 5px 8px;
}

#dashboard .widget table tr:last-child {
    padding-bottom: 10px;
}

#dashboard .widget table td span.more {
    padding-left: 13px;
    color: #A2A2A2;
}

#dashboard .widget table td.status {
    color: deeppink;
}

#dashboard .widget table td.status.requested {
    color: #777777;
}

#dashboard .widget table td.status.canceled {
    color: #C76247;
}

#dashboard .widget table td.status.paid {
    color: #48A073;
}

#dashboard .widget table td.status.open {
    color: #BD9C21;
}

#dashboard .widget button {
    margin-right: 15px;
}

.center {
    text-align: center;
}

.btn:not(:last-child) {
    margin-right: 7px;
}

.create-new {
    font-size: 13px;
    text-transform: uppercase;
}

.btn {
    padding: 3px 15px;
}

.btn-default {
    background: #FBFBFB linear-gradient(to bottom, #ffffff, #EBEBEB);
    box-shadow: 0 2px 0 0 #BFBFBF;
    border: 1px solid #EBEBEB;
    color: #555555;
}

.btn-primary {
    background-color: #5F7D8C;
    box-shadow: 0 2px 0 0 #445A64;
    border: 0;
    padding: 6px 12px;
}
