<?xml version="1.0" encoding="UTF-8"?>
<!--
   - The Kuali Financial System, a comprehensive financial management system for higher education.
   -
   - Copyright 2005-2017 Kuali, Inc.
   -
   - This program is free software: you can redistribute it and/or modify
   - it under the terms of the GNU Affero General Public License as
   - published by the Free Software Foundation, either version 3 of the
   - License, or (at your option) any later version.
   -
   - This program is distributed in the hope that it will be useful,
   - but WITHOUT ANY WARRANTY; without even the implied warranty of
   - MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   - GNU Affero General Public License for more details.
   -
   - You should have received a copy of the GNU Affero General Public License
   - along with this program.  If not, see <http://www.gnu.org/licenses/>.
 -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

    <bean id="camModuleConfiguration" parent="camModuleConfiguration-parentBean"/>

    <bean id="camModuleConfiguration-parentBean" class="org.kuali.kfs.sys.FinancialSystemModuleConfiguration" abstract="true">
        <property name="namespaceCode" value="KFS-CAM"/>
        <property name="initializeDataDictionary" value="true"/>
        <property name="packagePrefixes">
            <list>
                <value>org.kuali.kfs.module.cam</value>
                <value>org.kuali.kfs.integration.cam</value>
            </list>
        </property>
        <property name="externalizableBusinessObjectImplementations">
            <map>
                <entry key="org.kuali.kfs.integration.cam.CapitalAssetManagementAsset" value="org.kuali.kfs.module.cam.businessobject.Asset"/>
                <entry key="org.kuali.kfs.integration.cam.CapitalAssetManagementAssetType" value="org.kuali.kfs.module.cam.businessobject.AssetType"/>
                <entry key="org.kuali.kfs.integration.cam.CapitalAssetManagementAssetTransactionType" value="org.kuali.kfs.module.cam.businessobject.AssetTransactionType"/>
                <entry key="org.kuali.kfs.module.cam.businessobject.AssetFabrication" value="org.kuali.kfs.module.cam.businessobject.AssetFabrication"/>
            </map>
        </property>
        <property name="dataDictionaryPackages">
            <list>
                <value>classpath:org/kuali/kfs/module/cam/businessobject/datadictionary/*.xml</value>
                <value>classpath:org/kuali/kfs/module/cam/document/datadictionary/*.xml</value>
            </list>
        </property>
        <property name="databaseRepositoryFilePaths">
            <list>
                <value>org/kuali/kfs/module/cam/ojb-cam.xml</value>
            </list>
        </property>
        <property name="scriptConfigurationFilePaths">
            <list>
                <value>org/kuali/kfs/module/cam/dwr-cam.xml</value>
            </list>
        </property>
        <property name="jobNames">
            <list>
                <value>assetDepreciationBatchJob</value>
                <value>resetAssetDepreciationForFiscalYearJob</value>
                <value>cabExtractJob</value>
                <value>preAssetTaggingExtractJob</value>
            </list>
        </property>
        <property name="triggerNames">
            <list>
                <value>preAssetTaggingExtractJobTrigger</value>
            </list>
        </property>
        <property name="fiscalYearMakers">
            <list>
                <ref bean="assetObjectCodeFiscalYearMaker"/>
            </list>
        </property>
        <property name="batchFileDirectories">
            <list>
                <value>${reports.directory}/cam</value>
                <value>${staging.directory}/cm/barcode</value>
            </list>
        </property>

    </bean>

    <bean id="camModuleService" parent="camModuleService-parentBean"/>

    <bean id="camModuleService-parentBean" class="org.kuali.kfs.sys.service.impl.KfsModuleServiceImpl" abstract="true">
        <property name="moduleConfiguration" ref="camModuleConfiguration"/>
    </bean>

    <bean id="capitalAssetManagementModuleService" parent="capitalAssetManagementModuleService-parentBean"/>
    <bean id="capitalAssetManagementModuleService-parentBean" class="org.kuali.kfs.module.cam.service.impl.CapitalAssetManagementModuleServiceImpl" abstract="true">
        <property name="glLineService" ref="glLineService"/>
        <property name="dataDictionaryService" ref="dataDictionaryService"/>
        <property name="parameterEvaluatorService" ref="parameterEvaluatorService"/>
        <property name="configurationService" ref="configurationService"/>
        <property name="parameterRepositoryService" ref="parameterRepositoryService"/>
        <property name="parameterService" ref="parameterService"/>
        <property name="businessObjectService" ref="businessObjectService"/>
        <property name="assetService" ref="assetService"/>
        <property name="purApInfoService" ref="purApInfoService"/>
        <property name="kualiModuleService" ref="kualiModuleService"/>
        <property name="businessObjectDictionaryService" ref="businessObjectDictionaryService"/>
        <property name="campusService" ref="campusService"/>
        <property name="dictionaryValidationService" ref="dictionaryValidationService"/>
        <property name="purchasingAccountsPayableModuleService" ref="purchasingAccountsPayableModuleService"/>
    </bean>

    <bean id="CamsConstants" class="org.kuali.rice.core.api.util.collect.ConstantsMap">
        <property name="constantClass" value="org.kuali.kfs.module.cam.CamsConstants"/>
    </bean>

    <bean class="org.springframework.web.context.support.ServletContextAttributeExporter">
        <property name="attributes">
            <map>
                <entry key="CamsConstants" value-ref="CamsConstants"/>
            </map>
        </property>
    </bean>

    <!-- ********* Begin of depreciation batch beans ********** -->
    <bean id="assetDepreciationService" parent="assetDepreciationService-parentBean"/>
    <bean id="assetDepreciationService-parentBean" class="org.kuali.kfs.module.cam.batch.service.impl.AssetDepreciationServiceImpl" abstract="true">
        <property name="cronExpression" value="0 * * ? * 5#3"/>
        <property name="emailService" ref="emailService"/>
        <property name="parameterService" ref="parameterService"/>
        <property name="depreciableAssetsDao" ref="depreciableAssetsDao"/>
        <property name="depreciationBatchDao" ref="depreciationBatchDao"/>
        <property name="camsReportService" ref="camsReportService"/>
        <property name="configurationService" ref="kualiConfigurationService"/>
        <property name="generalLedgerPendingEntryService" ref="generalLedgerPendingEntryService"/>
        <property name="dateTimeService" ref="dateTimeService"/>
        <property name="dataDictionaryService" ref="dataDictionaryService"/>
        <property name="businessObjectService" ref="businessObjectService"/>
        <property name="optionsService" ref="optionsService"/>
        <property name="assetDateService" ref="assetDateService"/>
        <property name="universityDateService" ref="universityDateService"/>
        <property name="schedulerService" ref="schedulerService"/>
        <property name="assetService" ref="assetService"/>
        <property name="objectCodeService" ref="objectCodeService"/>
        <property name="workflowDocumentService" ref="workflowDocumentService"/>
    </bean>

    <bean id="depreciableAssetsDao" parent="platformAwareDao" class="org.kuali.kfs.module.cam.document.dataaccess.impl.DepreciableAssetsDaoOjb">
        <property name="depreciationBatchDao">
            <ref bean="depreciationBatchDao"/>
        </property>
    </bean>

    <bean id="depreciationBatchDao" parent="platformAwareDaoJdbc" class="org.kuali.kfs.module.cam.document.dataaccess.impl.DepreciationBatchDaoJdbc">
        <property name="universityDateDao">
            <ref bean="universityDateDao"/>
        </property>
        <property name="parameterService">
            <ref bean="parameterService"/>
        </property>
    </bean>

    <bean id="resetAssetDepreciationForFiscalYearStep" class="org.kuali.kfs.module.cam.batch.ResetAssetDepreciationForFiscalYearStep" parent="step">
        <property name="assetDepreciationService">
            <ref bean="assetDepreciationService"/>
        </property>
    </bean>

    <bean id="resetAssetDepreciationForFiscalYearJob" parent="unscheduledJobDescriptor">
        <property name="steps">
            <list>
                <ref bean="resetAssetDepreciationForFiscalYearStep"/>
            </list>
        </property>
    </bean>

    <bean id="assetDepreciationStep" class="org.kuali.kfs.module.cam.batch.AssetDepreciationStep" parent="step">
        <property name="assetDepreciationService">
            <ref bean="assetDepreciationService"/>
        </property>
    </bean>

    <bean id="assetDepreciationBatchJob" parent="scheduledJobDescriptor">
        <property name="steps">
            <list>
                <ref bean="assetDepreciationStep"/>
            </list>
        </property>
    </bean>

    <!-- *********  End of depreciation batch beans ********** -->

    <!-- ********* Begin of report service beans ********** -->
    <bean id="camsReportService" parent="camsReportService-parentBean"/>
    <bean id="camsReportService-parentBean" class="org.kuali.kfs.module.cam.batch.service.impl.ReportServiceImpl" abstract="true"></bean>
    <!-- ********* end of report service beans ********** -->

    <bean id="assetStatusLookupableHelperService" scope="prototype" parent="assetStatusLookupableHelperService-parentBean"/>
    <bean id="assetStatusLookupableHelperService-parentBean" abstract="true" class="org.kuali.kfs.module.cam.businessobject.lookup.AssetStatusLookupableHelperServiceImpl" scope="prototype" parent="cf.lookupableHelperService">
    </bean>

    <bean id="assetStatusLookupable" parent="cf.kualiLookupable" scope="prototype">
        <property name="lookupableHelperService">
            <ref bean="assetStatusLookupableHelperService"/>
        </property>
    </bean>

    <bean id="assetLookupableHelperService" scope="prototype" parent="assetLookupableHelperService-parentBean"/>
    <bean id="assetLookupableHelperService-parentBean" abstract="true" class="org.kuali.kfs.module.cam.businessobject.lookup.AssetLookupableHelperServiceImpl" scope="prototype" parent="cf.lookupableHelperService">
        <property name="assetService" ref="assetService"/>
    </bean>

    <bean id="assetLookupable" parent="cf.kualiLookupable" scope="prototype">
        <property name="lookupableHelperService">
            <ref bean="assetLookupableHelperService"/>
        </property>
    </bean>

    <bean id="assetPaymentLookupableHelperService" scope="prototype" parent="assetPaymentLookupableHelperService-parentBean"/>
    <bean id="assetPaymentLookupableHelperService-parentBean" abstract="true" class="org.kuali.kfs.module.cam.businessobject.lookup.AssetPaymentLookupableHelperServiceImpl" scope="prototype" parent="cf.lookupableHelperService">
        <property name="businessObjectService">
            <ref bean="businessObjectService"/>
        </property>
        <property name="assetService">
            <ref bean="assetService"/>
        </property>
    </bean>

    <bean id="assetPaymentLookupable" parent="assetPaymentLookupable-parentBean" scope="prototype"/>
    <bean id="assetPaymentLookupable-parentBean" class="org.kuali.kfs.kns.lookup.KualiLookupableImpl" abstract="true">
        <property name="lookupableHelperService">
            <ref bean="assetPaymentLookupableHelperService"/>
        </property>
    </bean>

    <bean id="assetRetirementReasonLookupableHelperService" scope="prototype" parent="assetRetirementReasonLookupableHelperService-parentBean"/>
    <bean id="assetRetirementReasonLookupableHelperService-parentBean" abstract="true" class="org.kuali.kfs.module.cam.businessobject.lookup.AssetRetirementReasonLookupableHelperServiceImpl" scope="prototype" parent="cf.lookupableHelperService"/>
    <bean id="assetRetirementReasonLookupable" class="org.kuali.kfs.kns.lookup.KualiLookupableImpl" scope="prototype">
        <property name="lookupableHelperService">
            <ref bean="assetRetirementReasonLookupableHelperService"/>
        </property>
    </bean>

    <bean id="assetPaymentAllocationTypeLookupableHelperService" scope="prototype" parent="assetPaymentAllocationTypeLookupableHelperService-parentBean"/>
    <bean id="assetPaymentAllocationTypeLookupableHelperService-parentBean" abstract="true" class="org.kuali.kfs.module.cam.businessobject.lookup.AssetPaymentAllocationTypeLookupableHelperServiceImpl" scope="prototype" parent="cf.lookupableHelperService"/>
    <bean id="assetPaymentAllocationTypeLookupable" class="org.kuali.kfs.kns.lookup.KualiLookupableImpl" scope="prototype">
        <property name="lookupableHelperService">
            <ref bean="assetPaymentAllocationTypeLookupableHelperService"/>
        </property>
    </bean>

    <bean id="assetAcquisitionTypeLookupableHelperService" scope="prototype" parent="assetAcquisitionTypeLookupableHelperService-parentBean"/>
    <bean id="assetAcquisitionTypeLookupableHelperService-parentBean" abstract="true" class="org.kuali.kfs.module.cam.businessobject.lookup.AssetAcquisitionTypeLookupableHelperServiceImpl" scope="prototype" parent="cf.lookupableHelperService"/>
    <bean id="assetAcquisitionTypeLookupable" class="org.kuali.kfs.kns.lookup.KualiLookupableImpl" scope="prototype">
        <property name="lookupableHelperService">
            <ref bean="assetAcquisitionTypeLookupableHelperService"/>
        </property>
    </bean>

    <bean id="paymentSummaryService" parent="paymentSummaryService-parentBean"/>
    <bean id="paymentSummaryService-parentBean" class="org.kuali.kfs.module.cam.document.service.impl.PaymentSummaryServiceImpl" abstract="true">
        <property name="universityDateService" ref="universityDateService"/>
        <property name="parameterService" ref="parameterService"/>
    </bean>

    <bean id="assetAcquisitionTypeService" parent="assetAcquisitionTypeService-parentBean"/>
    <bean id="assetAcquisitionTypeService-parentBean" class="org.kuali.kfs.module.cam.document.service.impl.AssetAcquisitionTypeServiceImpl" abstract="true">
        <property name="businessObjectService" ref="businessObjectService"/>
    </bean>

    <bean id="assetComponentDao" parent="platformAwareDao" class="org.kuali.kfs.module.cam.document.dataaccess.impl.AssetComponentDaoOjb"/>

    <bean id="assetComponentService" parent="assetComponentService-parentBean"/>
    <bean id="assetComponentService-parentBean" class="org.kuali.kfs.module.cam.document.service.impl.AssetComponentServiceImpl" abstract="true">
        <property name="assetComponentDao" ref="assetComponentDao"/>
    </bean>

    <bean id="retirementInfoService" parent="retirementInfoService-parentBean"/>
    <bean id="retirementInfoService-parentBean" class="org.kuali.kfs.module.cam.document.service.impl.RetirementInfoServiceImpl" abstract="true">
        <property name="parameterService" ref="parameterService"/>
        <property name="assetService" ref="assetService"/>
    </bean>

    <bean id="assetDateService" parent="assetDateService-parentBean"/>
    <bean id="assetDateService-parentBean" class="org.kuali.kfs.module.cam.document.service.impl.AssetDateServiceImpl" abstract="true">
        <property name="assetService" ref="assetService"></property>
        <property name="universityDateService" ref="universityDateService"/>
        <property name="dateTimeService" ref="dateTimeService"/>
        <property name="businessObjectService" ref="businessObjectService"/>
    </bean>

    <bean id="assetLocationService" parent="assetLocationService-parentBean"/>
    <bean id="assetLocationService-parentBean" class="org.kuali.kfs.module.cam.document.service.impl.AssetLocationServiceImpl" abstract="true">
        <property name="businessObjectService" ref="businessObjectService"/>
        <property name="dataDictionaryService" ref="dataDictionaryService"/>
    </bean>

    <bean id="assetPaymentDao" parent="platformAwareDao" class="org.kuali.kfs.module.cam.document.dataaccess.impl.AssetPaymentDaoOjb"/>

    <bean id="assetPaymentService" parent="assetPaymentService-parentBean"/>
    <bean id="assetPaymentService-parentBean" class="org.kuali.kfs.module.cam.document.service.impl.AssetPaymentServiceImpl" abstract="true">
        <property name="assetPaymentDao" ref="assetPaymentDao"/>
        <property name="parameterService" ref="parameterService"/>
        <property name="universityDateService" ref="universityDateService"/>
        <property name="businessObjectService" ref="businessObjectService"/>
        <property name="objectCodeService" ref="objectCodeService"/>
        <property name="assetService" ref="assetService"/>
    </bean>

    <bean id="assetService" parent="assetService-parentBean"/>
    <bean id="assetService-parentBean" class="org.kuali.kfs.module.cam.document.service.impl.AssetServiceImpl" abstract="true">
        <property name="parameterService" ref="parameterService"/>
        <property name="paymentSummaryService" ref="paymentSummaryService"/>
        <property name="businessObjectService" ref="businessObjectService"/>
    </bean>

    <bean id="assetTransferService" parent="assetTransferService-parentBean"/>
    <bean id="assetTransferService-parentBean" class="org.kuali.kfs.module.cam.document.service.impl.AssetTransferServiceImpl" abstract="true">
        <property name="assetService" ref="assetService"/>
        <property name="universityDateService" ref="universityDateService"/>
        <property name="businessObjectService" ref="businessObjectService"/>
        <property name="assetPaymentService" ref="assetPaymentService"/>
        <property name="assetObjectCodeService" ref="assetObjectCodeService"/>
        <property name="dateTimeService" ref="dateTimeService"/>
        <property name="assetLocationService" ref="assetLocationService"/>
    </bean>

    <bean id="assetRetirementService" parent="assetRetirementService-parentBean"/>
    <bean id="assetRetirementService-parentBean" class="org.kuali.kfs.module.cam.document.service.impl.AssetRetirementServiceImpl" abstract="true">
        <property name="universityDateService" ref="universityDateService"/>
        <property name="assetObjectCodeService" ref="assetObjectCodeService"></property>
        <property name="businessObjectService" ref="businessObjectService"/>
        <property name="assetPaymentService" ref="assetPaymentService"/>
        <property name="parameterService" ref="parameterService"/>
        <property name="assetService" ref="assetService"/>
        <property name="objectCodeService" ref="objectCodeService"/>
        <property name="organizationService" ref="organizationService"/>
    </bean>

    <bean id="assetObjectCodeService" parent="assetObjectCodeService-parentBean"/>
    <bean id="assetObjectCodeService-parentBean" class="org.kuali.kfs.module.cam.document.service.impl.AssetObjectCodeServiceImpl" abstract="true">
        <property name="universityDateService" ref="universityDateService"/>
        <property name="businessObjectService" ref="businessObjectService"/>
    </bean>

    <bean id="equipmentLoanOrReturnService" parent="equipmentLoanOrReturnService-parentBean"/>
    <bean id="equipmentLoanOrReturnService-parentBean" abstract="true" class="org.kuali.kfs.module.cam.document.service.impl.EquipmentLoanOrReturnServiceImpl">
        <property name="businessObjectService" ref="businessObjectService"/>
    </bean>

    <!-- Asset Bar Code inventory-->
    <bean id="assetBarcodeInventoryLoadService" parent="assetBarcodeInventoryLoadService-parentBean"/>
    <bean id="assetBarcodeInventoryLoadService-parentBean" class="org.kuali.kfs.module.cam.batch.service.impl.AssetBarcodeInventoryLoadServiceImpl" abstract="true">
        <property name="businessObjectService">
            <ref bean="businessObjectService"/>
        </property>
        <property name="dataDictionaryService">
            <ref bean="dataDictionaryService"/>
        </property>
        <property name="kualiRuleService">
            <ref bean="kualiRuleService"/>
        </property>
        <property name="documentService">
            <ref bean="documentService"/>
        </property>
        <property name="workflowDocumentService">
            <ref bean="rice.kew.workflowDocumentService"/>
        </property>
        <property name="parameterService" ref="parameterService"/>
        <property name="dateTimeService" ref="dateTimeService"/>
    </bean>

    <bean id="assetBarcodeInventoryInputFileType" parent="assetBarcodeInventoryInputFileType-parentBean"/>
    <bean id="assetBarcodeInventoryInputFileType-parentBean" abstract="true" class="org.kuali.kfs.module.cam.batch.AssetBarcodeInventoryInputFileType">
        <property name="directoryPath">
            <value>${staging.directory}/cm/barcode</value>
        </property>
    </bean>

    <bean id="assetBarcodeInventoryInputFileService" parent="assetBarcodeInventoryInputFileService-parentBean"/>
    <bean id="assetBarcodeInventoryInputFileService-parentBean" abstract="true" class="org.kuali.kfs.module.cam.batch.service.impl.AssetBarcodeInventoryInputFileServiceImpl">
        <property name="configurationService" ref="kualiConfigurationService"/>
    </bean>

    <!-- END of Asset Bar Code inventory batch job -->


    <bean id="assetGlobalService" parent="assetGlobalService-parentBean"/>
    <bean id="assetGlobalService-parentBean" class="org.kuali.kfs.module.cam.document.service.impl.AssetGlobalServiceImpl" abstract="true">
        <property name="universityDateService" ref="universityDateService"/>
        <property name="assetService" ref="assetService"/>
        <property name="assetObjectCodeService" ref="assetObjectCodeService"></property>
        <property name="businessObjectService" ref="businessObjectService"/>
        <property name="assetPaymentService" ref="assetPaymentService"/>
        <property name="parameterService" ref="parameterService"/>
        <property name="paymentSummaryService" ref="paymentSummaryService"/>
        <property name="dateTimeService" ref="dateTimeService"/>
        <property name="objectCodeService" ref="objectCodeService"/>
        <property name="offsetDefinitionService" ref="offsetDefinitionService"/>
    </bean>

    <import resource="document/validation/configuration/CamsValidatorDefinitions.xml"/>
    <import resource="document/validation/configuration/AssetPaymentValidation.xml"/>

    <!-- End of Asset Bar Code inventory batch job -->


    <bean id="assetDerivedRoleTypeService" parent="assetDerivedRoleTypeService-parentBean"/>
    <bean id="assetDerivedRoleTypeService-parentBean" class="org.kuali.kfs.module.cam.identity.AssetDerivedRoleTypeServiceImpl" abstract="true"/>

    <bean id="assetObjectCodeFiscalYearMaker" parent="FiscalYearMaker">
        <property name="businessObjectClass" value="org.kuali.kfs.module.cam.businessobject.AssetObjectCode"/>
    </bean>

    <!-- Start Asset Lock beans -->

    <bean id="capitalAssetLockDao" parent="platformAwareDao" class="org.kuali.kfs.module.cam.dataaccess.impl.CapitalAssetLockDaoOjb"/>

    <bean id="assetLockService" parent="assetLockService-parentBean"/>
    <bean id="assetLockService-parentBean" abstract="true" class="org.kuali.kfs.module.cam.service.impl.AssetLockServiceImpl">
        <property name="capitalAssetLockDao" ref="capitalAssetLockDao"/>
    </bean>
    <!-- End Asset Lock beans -->

    <!-- Begin - CAB Batch Beans -->
    <bean id="extractDao" parent="platformAwareDao" class="org.kuali.kfs.module.cam.batch.dataaccess.impl.ExtractDaoOjb"/>
    <bean id="purchasingAccountsPayableItemAssetDao" parent="platformAwareDao" class="org.kuali.kfs.module.cam.batch.dataaccess.impl.PurchasingAccountsPayableItemAssetDaoOjb"/>


    <bean id="batchExtractService" parent="batchExtractService-parentBean"/>
    <bean id="batchExtractService-parentBean" class="org.kuali.kfs.module.cam.batch.service.impl.BatchExtractServiceImpl" abstract="true">
        <property name="extractDao" ref="extractDao"/>
        <property name="purchasingAccountsPayableItemAssetDao" ref="purchasingAccountsPayableItemAssetDao"/>
        <property name="parameterService" ref="parameterService"/>
        <property name="dateTimeService" ref="dateTimeService"/>
        <property name="businessObjectService" ref="businessObjectService"/>
        <property name="purApLineService" ref="purApLineService"/>
        <property name="purApInfoService" ref="purApInfoService"/>
        <property name="reconciliationService" ref="reconciliationService"/>
        <property name="financialSystemDocumentService" ref="financialSystemDocumentService"/>
        <property name="capitalAssetManagementModuleService" ref="capitalAssetManagementModuleService"/>
    </bean>

    <bean id="batchExtractReportService" parent="batchExtractReportService-parentBean"/>
    <bean id="batchExtractReportService-parentBean" class="org.kuali.kfs.module.cam.batch.service.impl.BatchExtractReportServiceImpl" abstract="true">
        <property name="dateTimeService" ref="dateTimeService"/>
        <property name="cabBatchStatusReportInfo" ref="cabBatchStatusReportInfo"/>
        <property name="cabBatchMismatchReportInfo" ref="cabBatchMismatchReportInfo"/>
        <property name="reportGenerationService" ref="reportGenerationService"/>
    </bean>

    <bean id="reconciliationDao" parent="platformAwareDao"
          class="org.kuali.kfs.module.cam.dataaccess.impl.ReconciliationDaoOjb"/>

    <bean id="reconciliationService" parent="reconciliationService-parentBean" scope="prototype"/>
    <bean id="reconciliationService-parentBean" class="org.kuali.kfs.module.cam.batch.service.impl.ReconciliationServiceImpl" abstract="true">
        <property name="businessObjectService" ref="businessObjectService"/>
        <property name="reconciliationDao" ref="reconciliationDao"/>
    </bean>

    <bean id="cabExtractStep" class="org.kuali.kfs.module.cam.batch.ExtractStep" parent="step">
        <property name="batchExtractService" ref="batchExtractService"/>
        <property name="batchExtractReportService" ref="batchExtractReportService"/>
        <property name="dateTimeService" ref="dateTimeService"/>
    </bean>

    <bean id="cabExtractJob" parent="scheduledJobDescriptor">
        <property name="steps">
            <list>
                <ref bean="cabExtractStep"/>
            </list>
        </property>
        <property name="dependencies">
            <map>
                <entry key="posterJob" value="hardDependency"/>
            </map>
        </property>
    </bean>
    <!-- End - CAB Batch Beans -->

    <!-- START - Pre-Asset tagging extract job beans -->
    <bean id="preAssetTaggingStep" class="org.kuali.kfs.module.cam.batch.PreAssetTaggingStep" parent="step">
        <property name="batchExtractService" ref="batchExtractService"/>
        <property name="dateTimeService" ref="dateTimeService"/>
    </bean>
    <bean id="preAssetTaggingExtractJob" parent="scheduledJobDescriptor">
        <property name="steps">
            <list>
                <ref bean="preAssetTaggingStep"/>
            </list>
        </property>
    </bean>

    <bean id="preAssetTaggingExtractJobTrigger" parent="cronTrigger">
        <property name="jobName" value="preAssetTaggingExtractJob"/>
        <!--  it will run every day at 7 AM -->
        <property name="cronExpression" value="0 0 7 ? * *"/>
    </bean>

    <bean id="cabBatchStatusReportInfo" parent="cabBatchStatusReportInfo-parentBean"/>
    <bean id="cabBatchStatusReportInfo-parentBean" class="org.kuali.kfs.sys.report.ReportInfoHolder" abstract="true">
        <property name="reportTitle" value="CAB Batch Status Report"/>
        <property name="reportFileName" value="cab_batch_status_report"/>
        <property name="reportsDirectory" value="${reports.directory}/cab/"/>
        <property name="resourceBundleBaseName" value="org/kuali/kfs/module/cam/report/messages"/>
        <property name="reportTemplateClassPath" value="org/kuali/kfs/module/cam/report/"/>
        <property name="reportTemplateName" value="BatchStatusReport"/>
        <property name="subReportTemplateClassPath" value="org/kuali/kfs/module/cam/report/"/>
        <property name="subReports">
            <map>
                <entry key="batchReportDetails" value="BatchReportDetails"/>
            </map>
        </property>
    </bean>

    <bean id="cabBatchMismatchReportInfo" parent="cabBatchMismatchReportInfo-parentBean"/>
    <bean id="cabBatchMismatchReportInfo-parentBean" class="org.kuali.kfs.sys.report.ReportInfoHolder" abstract="true">
        <property name="reportTitle" value="CAB Batch Mismatch Report"/>
        <property name="reportFileName" value="cab_batch_mismatch_report"/>
        <property name="reportsDirectory" value="${reports.directory}/cab/"/>
        <property name="resourceBundleBaseName" value="org/kuali/kfs/module/cam/report/messages"/>
        <property name="reportTemplateClassPath" value="org/kuali/kfs/module/cam/report/"/>
        <property name="reportTemplateName" value="BatchMismatchReport"/>
        <property name="subReportTemplateClassPath" value="org/kuali/kfs/module/cam/report/"/>
        <property name="subReports">
            <map>
                <entry key="batchReportDetails" value="BatchReportDetails"/>
            </map>
        </property>
    </bean>

    <!-- END Pre-Asset tagging extract job beans -->

    <!-- **** Begin of Lookupable beans **** -->
    <bean id="purApReportLookupableHelperService" scope="prototype" parent="purApReportLookupableHelperService-parentBean"/>
    <bean id="purApReportLookupableHelperService-parentBean" abstract="true" class="org.kuali.kfs.module.cam.businessobject.lookup.PurApReportLookupableHelperServiceImpl" scope="prototype" parent="cf.lookupableHelperService">
        <property name="purApReportService">
            <ref bean="purchasingAccountsPayableReportService"/>
        </property>
    </bean>
    <bean id="cabPurApReportLookupable" class="org.kuali.kfs.kns.lookup.KualiLookupableImpl" scope="prototype">
        <property name="lookupableHelperService">
            <ref bean="purApReportLookupableHelperService"/>
        </property>
    </bean>

    <bean id="generalLedgerEntryLookupableHelperService" scope="prototype" parent="generalLedgerEntryLookupableHelperService-parentBean"/>
    <bean id="generalLedgerEntryLookupableHelperService-parentBean" abstract="true" class="org.kuali.kfs.module.cam.businessobject.lookup.GeneralLedgerEntryLookupableHelperServiceImpl" scope="prototype" parent="cf.lookupableHelperService">
        <property name="businessObjectService" ref="businessObjectService"/>
    </bean>

    <bean id="cabGlEntryLookupable" parent="cabGlEntryLookupable-parentBean" scope="prototype"/>
    <bean id="cabGlEntryLookupable-parentBean" class="org.kuali.kfs.kns.lookup.KualiLookupableImpl" abstract="true">
        <property name="lookupableHelperService">
            <ref bean="generalLedgerEntryLookupableHelperService"/>
        </property>
    </bean>

    <!-- **** End of Lookupable beans **** -->

    <!--  **** PurAp service beans **** -->
    <bean id="purchasingAccountsPayableReportDao" parent="platformAwareDao" class="org.kuali.kfs.module.cam.dataaccess.impl.PurchasingAccountsPayableReportDaoOjb"></bean>

    <bean id="purchasingAccountsPayableReportService" parent="purchasingAccountsPayableReportService-parentBean"/>
    <bean id="purchasingAccountsPayableReportService-parentBean" abstract="true" class="org.kuali.kfs.module.cam.service.impl.PurchasingAccountsPayableReportServiceImpl">
        <property name="purApReportDao">
            <ref bean="purchasingAccountsPayableReportDao"/>
        </property>
    </bean>

    <bean id="purApInfoService" parent="purApInfoService-parentBean"/>
    <bean id="purApInfoService-parentBean" class="org.kuali.kfs.module.cam.document.service.impl.PurApInfoServiceImpl" abstract="true">
        <property name="businessObjectService" ref="businessObjectService"/>
    </bean>

    <bean id="purApLineDao" parent="platformAwareDao" class="org.kuali.kfs.module.cam.dataaccess.impl.PurApLineDaoOjb"></bean>

    <bean id="purApLineService" parent="purApLineService-parentBean"/>
    <bean id="purApLineService-parentBean" abstract="true" class="org.kuali.kfs.module.cam.document.service.impl.PurApLineServiceImpl">
        <property name="businessObjectService" ref="businessObjectService"/>
        <property name="purApLineDao" ref="purApLineDao"/>
        <property name="purApInfoService" ref="purApInfoService"/>
        <property name="capitalAssetManagementModuleService" ref="capitalAssetManagementModuleService"/>
    </bean>

    <bean id="purApLineDocumentService" parent="purApLineDocumentService-parentBean"/>
    <bean id="purApLineDocumentService-parentBean" class="org.kuali.kfs.module.cam.document.service.impl.PurApLineDocumentServiceImpl" abstract="true">
        <property name="businessObjectService" ref="businessObjectService"/>
        <property name="purApLineService" ref="purApLineService"/>
        <property name="purApInfoService" ref="purApInfoService"/>
        <property name="documentService" ref="documentService"/>
        <property name="assetGlobalService" ref="assetGlobalService"/>
    </bean>
    <!-- **** End of PurAp service beans **** -->

    <!-- Start Gl Line Processing beans -->
    <bean id="glLineService" parent="glLineService-parentBean"/>
    <bean id="glLineService-parentBean" class="org.kuali.kfs.module.cam.document.service.impl.GlLineServiceImpl" abstract="true">
        <property name="businessObjectService" ref="businessObjectService"/>
        <property name="assetGlobalService" ref="assetGlobalService"/>
        <property name="objectTypeService" ref="objectTypeService"/>
        <property name="documentService" ref="documentService"/>
        <property name="documentHeaderService" ref="documentHeaderService"/>
        <property name="parameterService" ref="parameterService"/>
        <property name="parameterEvaluatorService" ref="parameterEvaluatorService"/>
        <property name="capitalAssetInformationDao" ref="capitalAssetInformationDao"/>
    </bean>
    <!-- End GL Line Processing beans -->

    <!-- Start Gl and PurAp helper beans -->
    <bean id="glAndPurApHelperService" parent="glAndPurApHelperService-parentBean"/>
    <bean id="glAndPurApHelperService-parentBean" class="org.kuali.kfs.module.cam.document.service.impl.GlAndPurApHelperServiceImpl" abstract="true"/>
    <!-- End Gl and PurAp helper beans -->

    <import resource="spring-cam-bus-exports.xml"/>
</beans>
