<HTML>
<HEAD><TITLE>$emailSubject on $docCreateDate</TITLE></HEAD>
<BODY style="font-family:Tahoma;font-size:10px;">
  	<h3>$emailSubject on $docCreateDate</h3>
	<BR/>
	<TABLE border="0" style="color:#000000;border-collapse:collapse;font-family:Tahoma;width:700px;">
		<th style="padding: 2;text-align:center">Location</th>
		<th style="padding: 2;text-align:center">Unit</th>
		<th style="padding: 2;text-align:center">Sub-Unit</th>
		<th style="padding: 2;text-align:center">Disbursement</th>
		<th style="padding: 2;text-align:right">Total Count</th>
		<th style="padding: 2;text-align:right">Total Amount</th>

		<tr style="background-color:#000000"><td colspan="6" height="1"></td></tr>
		
		#foreach( $achSummary in $achSummaryMap.keySet() )
		<tr bgcolor="#if ($velocityCount % 2 == 0)#e8e8e8#{else}#ffffff#end">
			<td style="padding: 2;text-align:center">$achSummary.chartCode</td>
			<td style="padding: 2;text-align:center">$achSummary.unitCode</td>
			<td style="padding: 2;text-align:center">$achSummary.subUnitCode</td>
			<td style="padding: 2;text-align:center">ACH</td>
			
			#set ($achTotals = $achSummaryMap.get($achSummary))
			#set ($count = $achTotals.get(0))
			#set ($amount = $achTotals.get(1))
			<td style="padding: 2;text-align:right">$numberTool.format("integer", $count)</td>
			<td style="padding: 2;text-align:right">$numberTool.format("currency", $amount)</td>
		</tr>
		#end
		
		#if ( ! $achSummaryMap.isEmpty() )
		<tr style="background-color:#000000"><td colspan="6" height="1"></td></tr>
		#end
		#foreach( $checkSummary in $checkSummaryMap.keySet() )
		<tr bgcolor="#if ($velocityCount % 2 == 0)#e8e8e8#{else}#ffffff#end">
			<td style="padding: 2;text-align:center">$checkSummary.chartCode</td>
			<td style="padding: 2;text-align:center">$checkSummary.unitCode</td>
			<td style="padding: 2;text-align:center">$checkSummary.subUnitCode</td>
			<td style="padding: 2;text-align:center">Check</td>
			
			#set ($checkTotals = $checkSummaryMap.get($checkSummary))
			#set ($count = $checkTotals.get(0))
			#set ($amount = $checkTotals.get(1))
			<td style="padding: 2;text-align:right">$numberTool.format("integer", $count)</td>
			<td style="padding: 2;text-align:right">$numberTool.format("currency", $amount)</td>
		</tr>
		#end

		<tr style="background-color:#000000"><td colspan="6" height="1"></td></tr>

		<tr>
			<td colspan="3"></td>
			<td align="center">TOTAL CHECK/ACH</td>
			<td align="right">$formatTotalCount</td>
			<td align="right">$numberTool.format("currency", $formatTotalAmount)</td>
		</tr>
		<tr><td colspan="6" height="20"></td></tr>
		<tr>
		  <td colspan="6">Access the PDP Format Summary Lookup for additional information</td>
        </tr>
	</TABLE>
</BODY>
</HTML>